div {
	border: none;
	background: #ccc;
	margin: 0 50px;
	padding: 10px;

	p,
	ul,
	li,
	div {
		margin: 0;
		padding: 0;
	}

	ul {
		list-style: none;
	}

	li {
		display: flex;
		justify-content: space-between;

		div {
			display: flex;
		}

		.description p,
		.actions p {
			padding: 5px 10px;
		}
	}
}
