div {
	border: none;
	background: #ccc;
	margin: 0 50px;
	padding: 10px;

	p,
	ul,
	li,
	div {
		margin: 0;
		padding: 0;
	}

	ul {
		list-style: none;
	}

	li {
		display: flex;
	}
}

bag-item-app {
	width: 100%;
}
