.box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.image {
		border: 1px solid black;
		height: 20px;
		width: 20px;
	}
}

p {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.active::after {
	content: '';
	display: block;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background: red;
}
